__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
*.env
env/
venv/
ENV/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec
config.ini
failed_tracks.txt
Recordings/
aurora_metadata.jsonl
*.rewrite_temp
.cache-aurora
*_cover.jpg
*.txt
!requirements.txt
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
